@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap') * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

.navigation .navLinks li,
.navigation .navLinks a,
button {
    font-family: "lato", monsterrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px;
    width: 30%;
    float: left;
}

.navigation {
    clear: both;

}

.sign {
    float: right;
}

.navigation .navLinks {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation .navLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navigation .navLinks li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation .navLinks li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    margin: 2px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

footer {
	display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    left: 0;
    bottom: 0;
    width: 100%;
}

.fotNavLinks .left li a,
.socialMedia .mediaIcons li a,
.contactInfo .contact li a {
    text-decoration: none;
    color: white;
    margin: 10px;

}

.fotNavLinks .left li,
.socialMedia .mediaIcons li {
    display: inline-block;

}

.fotNavLinks .left,
.socialMedia .mediaIcons,
.contactInfo .contact {
    list-style: none;
    margin: 10px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
form {
	display: flex;
	flex-direction: column;
}
input[type="text"],input[type="password"]{
	padding: 5px;
	padding-top:5px;
	margin-bottom: 20px;
	border:1px solid #ccc;
	border-radius: 4px;
}

input[type="text"],input[type="text"]{
	padding: 5px;
	padding-top:5px;
	margin-bottom: 20px;
	border:1px solid #ccc;
	border-radius: 4px;
}
input[type="submit"]{
	padding: 10px;
	background-color: #0000ff;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
}
input[type="submit"]:hover{
	background-color: #795695;
}
input[type="text"]:focus,input[type="password"]:focus{
	outline: none;
	border-color: #007bff;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.formbox{
	width: 500px;
	margin: 100px;
	background: #fff;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border: 2px solid #ccc;
}
