@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90vh;
}

.contact-container {
	background: #ffffff;
	width: 900px;
	padding: 30px 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.intro {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding: 5px;
	background-color: #5ba0ca;
	text-transform: uppercase;
}

.contact-container input[type="e-mail"],
.contact-container input[type="tel"],
.contact-container input[type="text"],
textarea {
	width: 80%;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-container input[type="submit"] {
	width: 80%;
	margin-bottom: 20px;
	padding: 10px;
	border: none;
	border-radius: 8px;
	background-color: #04AA6D;
	transition: background-color 0.3s ease;
	cursor: pointer;
}

.contact-container input[type="submit"]:hover {
	background-color: #037a52;
}

.meetus-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 45vh;
}

.meetus-container {
	background: #eff1c2;
	width: 900px;
	padding: 30px 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(85, 79, 79, 0.2);
	text-align: center;
}

.topic {
	font-weight: bold;
	font-size: 24px;
}

.meetus-wrapper .meetus-container i {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 255, 255, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #706c6c;
	transition: all 0.5s ease;
}

.meetus-wrapper .meetus-container i:hover {
	color: #24262b;
	background-color: #ffffff;
}