@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

body {
    background-color: rgb(255, 255, 255);
}
/* navigation bar css */
.navigation .navLinks li,
.navigation .navLinks a,
button {
    font-family: "lato", monsterrat, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px;
    width: 30%;
    float: left;
}

.navigation {
    clear: both;

}

.sign {
    float: right;
}

.navigation .navLinks {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation .navLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navigation .navLinks li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation .navLinks li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    margin: 2px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}
/* fotter css */
footer {
	
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    left: 0;
    bottom: 0;
    width: 100%;
}

.fotNavLinks .left li a,
.socialMedia .mediaIcons li a,
.contactInfo .contact li a {
    text-decoration: none;
    color: white;
    margin: 10px;

}

.fotNavLinks .left li,
.socialMedia .mediaIcons li {
    display: inline-block;

}

.fotNavLinks .left,
.socialMedia .mediaIcons,
.contactInfo .contact {
    list-style: none;
    margin: 10px;
}

/* search bar css */
.dbnavigater{
	list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.dbord .dbnavigater li {
    display: inline-block;
    padding: 0px 20px;
}
.li_right {
  float: right;
}
.li_right input[type=text]{
  width:400px;
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border: 1px solid #ccc; 
  overflow:hidden;
}
/* Dash bord table css */
table{
	margin: 20px;
	width: 97%;
	border-collapse:collapse;
	box-shadow:0 5px 10px #E8E8E8;
	background-color:#F8F8F8;
	text-align:center;
	overflow:hidden;
}
thead{
	box-shadow:0 5px 10px #E8E8E8;
	
}
th{
	padding: 5px 7px;
	height: 70px;
	text-transform:uppercase;
	letter-spacing:2px;
	font-size:15px;
	font-weight:900;
}
td{
	padding:10px 20px;
	
}


/* Dash bord table active list css */
.status-active{
	text-transform:uppercase;
	color:#008000;
	text-align:center;
}
.status-complete{
	text-transform:uppercase;
	color:#FFD700;
	text-align:center;
}
.status-expired{
	text-transform:uppercase;
	color:#800000;
	text-align:center;
}
/* Color alternating rows */

tr:nth-of-type(even){
	background-color:#C0C0C0;
}




.delete {
    
    background-color: rgb(241, 238, 238);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    margin: 20px;
    width: 50%;
}

.delete .deleteHeder {
    text-align: center;
    color: black;
    font-size: 40px;
}

.deleteDetails {
    margin: 20px 0 20px 0;
}

.deleteDetails input[type="text"],
.deleteDetails input[type="submit"] {
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    justify-content: space-between;
}

.deleteDetails input[type="submit"]:hover {
    background-color: bisque;
    cursor: pointer;
}
