@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.update-account-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.update-account-container {
    background: #ffffff;
    width: 450px;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.update-account-container p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333533;
    text-transform: uppercase;
}

.update-account-container input[type="text"],
.update-account-container input[type="email"],
.update-account-container input[type="password"] {
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.update-account-container input[type="submit"] {
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #04AA6D;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.update-account-container input[type="submit"]:hover {
    background-color: #037a52;
}